{% extends 'base.html' %}

{% block content %}

<h1>Investor Page</h1>

{% if artworks %}
<h2>Artworks owned:</h2>
    <div class="artwork-container">
        {% for artwork in artworks %}
            <div>
                <img class="artwork-image" src="{{ artwork.main_image.url }}" alt="Artwork Image" style="max-width: 300px; max-height: 300px;">
                <h3>"{{ artwork.name }}" - {{ artwork.artist }}</h3>
            </div>
            <a href="{% url 'sold_art_details' %}?artwork_id={{ artwork.id|add:0 }}">Art Details</a>
        {% endfor %}
    </div>
{% else %}
    <p>No art yet.</p>
{% endif %}


{% if nfts %}
<h2>NFT's owned:</h2>
    <div class="artwork-container">
        {% for nft in nfts %}
                <div>
                    <img class="artwork-image" src="{{ nft.main_image.url }}" alt="NFT Image" style="max-width: 300px; max-height: 300px;">
                    <h3>"{{ nft.artwork }}" </h3>
                </div>
                <a href="{% url 'investor_details' %}?nft_id={{ nft.id|add:0 }}">Investor Details</a>
        {% endfor %}
    </div>
{% else %}
    <p>No NFT's owned yet.</p>
{% endif %}


{% if nfts_for_sale %}
<h2>NFT's for sale:</h2>
    <div class="artwork-container">
        {% for nft in nfts_for_sale %}
                <div>
                    <img class="artwork-image" src="{{ nft.main_image.url }}" alt="NFT Image" style="max-width: 300px; max-height: 300px;">
                    <h3>"{{ nft.artwork }}" </h3>
                </div>
                <a href="{% url 'investor_details' %}?nft_id={{ nft.id|add:0 }}">Investor Details</a>
        {% endfor %}
    </div>
{% else %}
    <p>No NFT's posted for sale yet.</p>
{% endif %}



{% endblock %}
