/* @font-face {
    font-family: "zantrokeregular";
    src: url("../Zantroke_download/Zantroke/Zantroke.woff2") format("woff2"),
         url("../Zantroke_download/Zantroke/Zantroke.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  } */
  